{{ fortresswaf_log_dir }}/*.log {
    daily
    rotate 30
    compress
    delaycompress
    missingok
    notifempty
    copytruncate
    dateext
    dateformat -%Y%m%d
    maxage 90
    minsize 10M
    create 0640 {{ fortresswaf_user }} {{ fortresswaf_group }}
    postrotate
        /usr/bin/docker exec $(docker ps --filter name=fortresswaf -q) kill -USR1 1 2>/dev/null || true
    endscript
}
